.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &.winter {
    background-color: rgb(224, 240, 255);
    i {
      color: rgb(27, 138, 182);
    }
  }
  &.summer {
    background-color: rgb(255, 236, 200);
    i {
      color: rgb(236, 166, 15);
    }
  }
  .icon-left {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .icon-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
